# Push notifications keys. You can generate them with command "./node_modules/.bin/web-push generate-vapid-keys"
PUBLIC_VAPID_KEY=paste_key_here
PRIVATE_VAPID_KEY=paste_key_here  
# This must be either a URL or a 'mailto:' address.
# For example: 'https://my-site.com/contact' or 'mailto: contact@my-site.com'
WEB_PUSH_CONTACT=mailto: contact@my-site.com

# notifications DB
# service network name via docker-compose
MONGO_DB_HOST=mongodb 
MONGO_DB_PORT=27017
MONGO_DB_NAME=latestEQs

# mysql db for seiscomp
DB_HOST=host.docker.internal
DB_USER='username'
DB_PASSWORD='password'
DB_NAME='seiscomp'

# realtime comms with seiscomp
REDIS_HOST=redis
REDIS_PORT=6379

# Granular reverse-geolocation
GEOSERVE_HOST=geoserve-ws
GEOSERVE_PORT=80

# production host domains
CLIENT_PROD_HOST=10.207.9.43
BACKEND_PROD_HOST=10.207.9.43/api
BACKEND_PROD_PORT=5000

# development host domains
CLIENT_DEV_HOST=localhost
CLIENT_DEV_PORT=3000
BACKEND_DEV_HOST=localhost
BACKEND_DEV_PORT=5000

# development https certs
HTTPS_PRIVATE_KEY=./dev_certs/localhost+1-key.pem
HTTPS_CERT=./dev_certs/localhost+1.pem
