# Push notifications keys. You can generate them with command "./node_modules/.bin/web-push generate-vapid-keys"
PUBLIC_VAPID_KEY=paste_key_here
PRIVATE_VAPID_KEY=paste_key_here  
# This must be either a URL or a 'mailto:' address.
# For example: 'https://my-site.com/contact' or 'mailto: contact@my-site.com'
WEB_PUSH_CONTACT=mailto: contact@my-site.com

# notifications DB
MONGO_DB_HOST=mongodb # service network name via docker-compose
MONGO_DB_PORT=27017
MONGO_DB_NAME=latestEQs

# mysql db for seiscomp
DB_HOST=host.docker.internal
DB_USER='username'
DB_PASSWORD='password'
DB_NAME='seiscomp'

# realtime comms with seiscomp
REDIS_HOST=redis
REDIS_PORT=6379

# Granular reverse-geolocation 
NOMINATIM_HOST=nominatim
NOMINATIM_PORT=8080

# production host domain
PROD_DOMAIN=https://
